---
import Root from "../layouts/Root.astro";
---

<Root title="404">
  <div class="fourohfour">
    <h1 class="title">🔦404</h1>
    <p class="subtitle">This page does not exist.</p>
  </div>
</Root>

<style>
  .fourohfour {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 0.5rem;

    .title {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
</style>
