---
import Intro from "../components/Intro.astro";
import PageHeader from "../components/PageHeader.astro";
import Playground from "../components/Playground.astro";
import Preoccupations from "../components/Preoccupations.astro";
import Projects from "../components/Projects.astro";
import Writing from "../components/Writing.astro";
import Root from "../layouts/Root.astro";

const title = "Adebiyi Adedotun";
const occupation = "Design & Frontend Engineer.";
---

<Root title={title}>
  <div data-grid data-grid-col="3" data-layout-center>
    <article data-prose>
      <PageHeader
        heading={title}
        subheading={occupation}
        withCommentTag={true}
      />
      <Intro />
      <hr />
      <Projects />
      <Writing />
      <hr />
      <Playground />
      <Preoccupations />
    </article>
  </div>
</Root>

<style>
  [data-prose] {
    > *:not(header) {
      margin-block: 0 var(--gap-6x);

      [data-list] {
        padding: 0;
        margin-block-start: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: var(--gap-3x) var(--gap-2x);

        [data-list-item] {
          display: inherit;
        }
      }
    }
  }
</style>
