---
import Intro from "../components/Intro.astro";
import PageHeader from "../components/PageHeader.astro";
import Playground from "../components/Playground.astro";
import Preoccupations from "../components/Preoccupations.astro";
import Projects from "../components/Projects.astro";
import Writing from "../components/Writing.astro";
import Root from "../layouts/Root.astro";
---

<Root title="Adebiyi Adedotun">
  <div data-grid="main" data-page="home">
    <article data-prose>
      <PageHeader
        heading="Adebiyi Adedotun"
        subheading="Design & Frontend Engineer."
        withCommentTag={true}
      />
      <Intro />
      <hr />
      <Projects />
      <Writing />
      <hr />
      <Playground />
      <Preoccupations />
    </article>
  </div>
</Root>

<style>
  [data-page="home"] {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-block: var(--page-top);
  }

  [data-grid="main"] {
    grid-template-columns: 12rem var(--content-width) 12rem;

    > * {
      grid-column: 2;
    }

    section {
      margin-block-end: var(--gap-6x);

      ul {
        list-style: none;
        padding: 0;
        margin-block-start: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: var(--gap-2x);
        row-gap: var(--gap-3);
        li {
          gap: 8px;
          display: grid;
          align-content: start;
        }
      }
    }

    hr {
      margin-block-start: 0;
      margin-block-end: var(--gap-6x);
      border: none;
      border-radius: 4px;
      border-top: 1px solid rgba(30, 55, 38, 0.5);
    }
  }
</style>
