---
import Intro from "../components/Intro.astro";
import PageHeader from "../components/PageHeader.astro";
import Playground from "../components/Playground.astro";
import Preoccupations from "../components/Preoccupations.astro";
import Projects from "../components/Projects.astro";
import Writing from "../components/Writing.astro";
import Root from "../layouts/Root.astro";

const title = "Adebiyi Adedotun";
const occupation = "Design & Frontend Engineer.";
---

<Root title={title}>
  <div data-grid data-grid-col="3" data-layout-center>
    <article data-prose>
      <PageHeader
        heading={title}
        subheading={occupation}
        symbol="//"
        spacey={false}
      />
      <Intro />
      <hr />
      <Projects />
      <Writing />
      <hr />
      <Playground />
      <Preoccupations />
    </article>
  </div>
</Root>

<style>
  [data-prose] {
    > *:not(header) {
      margin-block: 0 var(--gap-6x);
    }

    [data-list] {
      display: flex;
      column-gap: var(--gap-2x);
      overflow-x: auto;
      --no-of-items: 3;
      margin: 0;

      @media screen and (max-width: 43rem) {
        padding-bottom: var(--gap-2x);
      }

      [data-list-item] {
        display: inherit;
        flex: 1;

        a {
          width: calc(
            (var(--content-width) / var(--no-of-items)) - var(--gap-2x)
          );
        }
      }
    }
  }
</style>
