---
import Hyperlink from "./Hyperlink.astro";

interface Props {
  title: string;
  publishedOn: string;
  canonicalUrl: string;
}

const { title, publishedOn, canonicalUrl } = Astro.props;
---

<div>
  <span role="img">👋 Note.</span>
  <p>
    <Hyperlink href={canonicalUrl}>{title}</Hyperlink> was originally published on
    {publishedOn}.
  </p>
</div>

<style>
  div {
    border-left: 4px solid #ff6d00;
    padding-inline-start: var(--gap);

    > span {
      font-weight: 600;
    }
  }
</style>
