---
import { getPathnames } from "../misc/fns";
import Hyperlink from "./Hyperlink.astro";

const pathnames = getPathnames(Astro.url.pathname);
---

<ul class="breadcrumbs" data-list>
  {
    pathnames.slice(0, pathnames.length - 1).map((path) => {
      const isIndexPage = path.toLowerCase() === "index";
      return (
        <li data-list-item>
          {
            <Hyperlink nounderline href={isIndexPage ? "/" : `/${path}`}>
              {isIndexPage ? "🛖 Home" : path}
            </Hyperlink>
          }
        </li>
      );
    })
  }
</ul>

<style>
  .breadcrumbs {
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    bottom: var(--gap-2x);
    position: fixed;
    margin: 0;
    border-radius: 34px;
    z-index: 1;
    height: 48px;
    background: var(--bg);
    border: 2px solid var(--green-fade);
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      border-color: var(--orange);
    }

    [data-subtitle],
    a {
      font-size: 15px;
    }

    [data-list-item] {
      position: relative;
      height: 100%;

      &:not(:first-child)::before {
        content: "";
        position: absolute;
        left: 0;
        height: 50%;
        transform: translateX(-3px) rotate(12deg) translateY(-50%);
        width: 2px;
        background-color: #ff6d00;
        top: 50%;
      }

      > * {
        font-size: 15px;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: var(--gap-2x);
      }
    }
  }
</style>
