---
interface Props {
  heading: string;
  subheading?: string;
  withCommentTag?: boolean;
}

const { heading, subheading, withCommentTag = false } = Astro.props;
---

<header>
  <h2>{heading}</h2>
  <strong>
    {withCommentTag && <span data-comment>//</span>}
    {subheading}
  </strong>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: var(--gap-3x);
  }
</style>
