---
import { slugify } from "../misc/fns";
import Hyperlink from "./Hyperlink.astro";

interface Props {
  toc?: Array<{
    title: string;
    href?: string;
    depth?: number;
  }>;
}

const { toc } = Astro.props;
---

<aside data-grid>
  <span>↓ Table of content</span>
  {
    toc && (
      <nav>
        <ul class="toc">
          <li>
            <Hyperlink href={Astro.url.pathname} nounderline>
              <p data-subtitle>Overview</p>
            </Hyperlink>
          </li>
          {toc.map(({ href, title, depth }) => (
            <li data-depth={depth}>
              <Hyperlink href={`#${slugify(href || title)}`} nounderline>
                <p data-subtitle>{title}</p>
              </Hyperlink>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</aside>

<style>
  aside {
    position: fixed;
    top: calc(var(--page-top) + 3px);
    /* white-space: nowrap; */
    /* height: 0; */
    z-index: 1;
    grid-column: 1;
    gap: var(--gap-3x);

    position: fixed;
    /* right: 12rem;x */
    left: var(--body-margin-left);
    width: 300px;

    > span {
      color: var(--light-gray);
      font-weight: 600;
    }
  }

  nav {
    max-height: calc(100vh - var(--page-top));
    overflow: scroll;
    border-left: 1px solid var(--green-fade);
    padding-left: var(--gap);
    margin-left: calc(var(--gap) / 2);

    .toc {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        width: 100%;

        &:hover [data-subtitle] {
          color: var(--default-fg);
        }
      }

      [data-subtitle] {
        padding: var(--gap-s) 0;
      }
    }

    [data-depth="3"] {
      padding-inline-start: var(--gap-2x);
    }
  }
</style>
