---
interface Props {
  heading: string;
  subheading?: string | number;
  symbol?: string;
}

const { heading, subheading, symbol } = Astro.props;
---

<header>
  <h2>{heading}</h2>
  <strong>
    {symbol && <span data-comment>{symbol}</span>}
    {subheading}
  </strong>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: var(--gap-3x);
    line-height: 1;
  }
</style>
