---
import { preoccupations } from "../misc/data";
import { slugify } from "../misc/fns";
import Card from "./Card.astro";
import Hyperlink from "./Hyperlink.astro";
import SectionHeader from "./SectionHeader.astro";

const imageHeight = 25;
---

<section data-grid>
  <SectionHeader heading="Preoccupations" />

  <ul data-list>
    {
      preoccupations.map(({ title, subtitle }) => (
        <li data-list-item>
          <Hyperlink href={slugify(title)} nounderline>
            <Card
              {...{
                title,
                subtitle,
                imageUrl: `https://avatar.vercel.sh/${slugify(
                  title
                )}?size=${imageHeight}`,
                imageHeight,
              }}
            />
          </Hyperlink>
        </li>
      ))
    }
  </ul>
</section>
