---
interface Props {
  heading: string;
  subheading?: string;
}

const { heading, subheading } = Astro.props;
---

<header data-flex>
  <h3>{heading}</h3>
  {subheading && <p data-subtitle>{subheading}</p>}
</header>

<style>
  header {
    align-items: center;
    justify-content: space-between;
  }
</style>
